<%= form_for(@buy) do |f| %>
  <% if @buy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@buy.errors.count, "error") %> prohibited this buy from being saved:</h2>

      <ul>
      <% @buy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :max_price %><br />
    <%= f.text_field :max_price %>
  </div>
  <div class="field">
    <%= f.label :open %><br />
    <%= f.check_box :open %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
