<p id="notice"><%= notice %></p>

<p>
  <b>Size:</b>
  <%= @vehicle.size %>
</p>

<p>
  <b>Brand:</b>
  <%= @vehicle.brand %>
</p>

<p>
  <b>Model:</b>
  <%= @vehicle.model %>
</p>


<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
