<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_buyer %><br />
    <%= f.text_field :id_buyer %>
  </div>
  <div class="field">
    <%= f.label :id_seller %><br />
    <%= f.text_field :id_seller %>
  </div>
  <div class="field">
    <%= f.label :transaction_price %><br />
    <%= f.text_field :transaction_price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
